body {
    background: bisque; /*old Internet Explorer compatibility*/
    background: -webkit-radial-gradient(white, bisque, bisque, white);
    background: -moz-radial-gradient(white, bisque, bisque, white);
    background: radial-gradient(white, bisque, bisque, white);
    background-size: 100%;
}

div.page-wrap {
    background: white;
    background: url("Res/BeachVolleyball/beachNet-pagewrap-50transparent.jpg");
    margin: 0 auto;
    min-height: 1200px;
    min-width: 1277px;
    width: 66%;
}

div.page-wrap p {
    width: 50%;
}

div.large-paragraph {
    background: #f7f3fa;
    font-size: 2ch;
    word-spacing: 1px;
}

ul.navigation-list {
    background-color: black;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 15px 20px;
    overflow: hidden;
}

ul.navigation-list>li {
    float: left;
}

ul.navigation-list>li a {
    border-right: solid 2px white;
    color: white;
    margin: auto;
    padding: 47px;
    text-align: center;
    text-decoration: none;
}

ul.navigation-list li a.nav-end {
    border-right: 0;
    color: white;
    margin: auto;
    padding: 45px;
    text-align: center;
    text-decoration: none;}

ul.navigation-list>li a:hover {
    background-color: plum;
    background-size: 30px 30px;

}

div.header-box {
    background: url("Res/BeachVolleyball/sandheader.jpg");
    border: 2px solid black;
    margin: 0 auto;
    min-height: 112px;
    min-width: 1273px;
    padding-top: 25px;
    text-align: center;
    width: 66%;
}

div.header-box h1 {
    background: black;
    color: ivory;
    display: inline-block;
    padding: 0 10px;
}

ul.contact-information>li {
    padding: 20px;
}

div.front-page-information {
    background: ghostwhite;
    border: solid 3px black;
    float: left;
    margin: 15px 10px;
    /*overflow: inherit;*/
    padding: 0 10px;
    width: 392px;
}

div.front-page-information>p, div.front-page-information>ul>li {
    padding-top: 5px;
    text-align: left;
    width: 350px;
    /*overflow: hidden;*/
}

div.announcement-box {
    background: ghostwhite;
    border: solid 3px black;
    float: right;
    margin: 15px 10px;
    padding: 5px;
    text-align: center;
    width: 393px;

}

div.announcement-box ul li {
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: 0 5px;
    width: 250px;
}

div.announcement-box h3 {

}

div.large-paragraph {
    border: solid 3px black;
    margin: 15px;
    padding: 0 10px;
    width: 627px;
}

div.large-paragraph p {
    width: 600px;
}

table.season-ladder-table {
    background-color: black;
    color: ivory;
    width: 33%;
    margin: 0 auto;
    margin-top: 15px;
    min-width: 840px;
    padding: 30px;
    table-layout: auto;

}

table.season-ladder-table thead {
    background-color: purple;
    border: 2px solid black;
}

table.season-ladder-table tr th, table.season-ladder-table tr td {
    border: 1px outset white;
    padding: 10px 15px;
}

table.season-ladder-table tr:nth-last-child(n+8):nth-last-child(n+7) {
    animation-name: color-change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes color-change {
    from {color: gold}
    to {color: white;}
}

@-moz-keyframes color-change {
    from {color: black;}
    to {color: darkgrey;}
}

@-ms-keyframes color-change {
    from {color: black;}
    to {color: darkgrey;}
}

@-o-keyframes color-change {
    from {color: black;}
    to {color: darkgrey;}
}

@keyframes color-change {
    from {color: gold}
    to {color: white;}
}

form.register-form {
    background-color: black;
    color: ivory;
    width: 33%;
    margin: 0 auto;
    margin-top: 15px;
    min-width: 840px;
    padding: 30px 30px 1800px;
}

form.register-form h2 {
    text-align: center;
}

div.registration-user-details {
    border: 1px solid white;
    padding: 10px;

}

 div.registration-user-details p {
    padding: 2px;
    width: 50%;

}

div.registration-user-day {
    border: 1px solid white;
}

div.registration-user-time {
    border: 1px solid white;
}

div.registration-accept {
    border: solid 1px white;
    text-align: center;
}

div.registration-accept p#guideline-text {
    border: 4px outset white;
    margin: 0 auto;
    padding: 15px;
    width: 40%;
    text-align: justify;
}

div.registration-accept p#guideline-header {
    border-bottom: 1px solid white;
    font-size: 4ch;
    text-align: center;
    width: 100%;
}

p#guideline-agree-box, p#registration-form-submit {
    text-align: center;
    width: 100%;
}

div.registration-accept input {
    text-align: center;
    font-size: 4ch;
}

p.required-field {
    color: lightgoldenrodyellow;
    font-size: 75%;
}

span.required-denote {
    color: lightgoldenrodyellow;
    font-size: 75%;
}

div.guideline-paragraph {
    background: ghostwhite;
    border: solid 3px black;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

div.guideline-paragraph p {
    display: inline-block;
    text-align: justify;
    width: 40%;
    padding: 15px 70px;
}

ul.contact-information li {
    font-size: 3ch;
    text-align: justify;
}

div.center-small-image-box {
    display: inline-block;
    margin: 15px 5px ;
}

div.right-image-box {
    border: solid 3px black;
    float: right;
    margin: 15px;
    padding: 0 auto;
}

div.right-small-image-box {
    border: solid 3px black;
    height: 196px;
    margin: 30px 15px;
    width: 195px;
    float: right;
}

div.bottom-image-box {
    border: solid 3px black;
    height: 675px;
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
}

footer {
    background: black;
    color: white;
    margin: 0 auto;
    min-width: 1277px;
    width: 66%;
}